# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.pytest_cache
*.egg-info
.venv
venv/

# MkDocs
site/

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Fly.io
fly.toml
.fly

# GitHub
.github/