:root {
  --md-text-font: "Inter";
  --md-code-font: "JetBrains Mono";
}

/* Remove only the continue reading button in entries */
nav.md-post__action {
  display: none;
}

/* More vertical spacing */
.md-typeset h1 {
  margin-top: 2em;
}

.md-typeset h2 {
  margin-top: 1.5em;
}

.md-typeset p {
  margin-bottom: 1.2em;
  line-height: 1.8;  /* More line spacing */
}

/* Wider content area */
.md-grid {
  max-width: 80rem;  /* Default is 61rem */
}

/* Less dense navigation */
.md-nav__item {
  padding: 0.3em 0;
}

/* Entries listing page */
.entry-post {
  margin-bottom: 2rem;
}

.md-typeset .entry-post__title {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.md-typeset .entry-post__date {
  color: var(--md-default-fg-color--light);
  font-size: 0.85em;
  margin: 0 0 5px 0;
  padding: 0;
}

.md-typeset .entry-post__description {
  margin-top: 0;
  padding: 0;
}